<%- include('partials/header.ejs') %>

<%- include('partials/headerPublic.ejs') %>
<main id="description-section-layout">
    <div class="container">
        <section>
            <h1>404</h1>
            <p>The page you're trying to visit does not exist</p>
            <img src="/images/face.png" alt="face">
        </section>
        
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>