<%- include('partials/header.ejs') %>

<%- include('partials/headerPublic.ejs') %>
<main id="description-section-layout">
    <div class="container">
        <section>
            <h2>About us</h2>
            <p>
                Online platform for student of ISLAIB (Master Data Science
                specifically).
            </p>
            <p>
                Both teachers and students can post courseware, assignments,
                announcements and exams...
            </p>

            <p>For more information about how is this project put together, please refer to the <a href="/docs">documentation page</a></p>
            <p>
                If you're looking for some memes, make sure to check out
                <a href="https://vaga.tn" target="_blank" id="vagaLink">vaga.tn ↗</a>
            </p>
        </section>
    </div>
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>