<%- include('partials/header.ejs') %>

<%- include('partials/headerPublic.ejs') %>
<main id="description-section-layout">
    <div class="container">
        <section>
            <h2>Contributors</h2>
            <p>This is an open source project.</p>
            <p>You could find the source code in the <a href="https://github.com/MDS-ISALIB/mds-cms-2.0">official GitHub repository</a></p>
            
            <h3>Shout out to</h3>
            <p>Here's a list of contributors who helped push this project forward</p>
            <ul id="contributors-list">
                <li>
                    <a href="https://github.com/bedouijesser">@bedouijesser</a>
                </li>
            </ul>
        </section>
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>