<%- include('partials/header.ejs') %>

<%- include('partials/headerPublic.ejs') %>
<main id="description-section-layout">
    <div class="container">
        <section>
            <h2>Contact us</h2>
            <p>Let us what you think about this project.</p>
            <p>
                Email: 
                    <a href="mailto:mdsbeja@gmail.com">mdsbeja@gmail.com</a> 
                    <a href="mailto:mds.islaib@gmail.com">mds.islaib@gmail.com</a>
            </p>
            <p>
                If you face any issues, please make sure to start a new issue in the <a href="https://github.com/MDS-ISALIB/mds-cms-2.0/issues">official repository  </a>  
            </p>
        </section>
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>