<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Master Science Beja</title>
</head>
<body>
    <h2>Hello clarise 😬</h2>
    <a href="/login">login</a>
    <a href="/login">logout</a>
    <a href="/home">home</a>
    <a href="/home/subjects">subjects</a>
</body>
</html>