#main-header{
    padding: .5rem 0;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    #brand{
        font-size: 1.5rem;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #search{
        label{
            display: flex;
            align-items: center;
            padding: .3rem .5rem;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            background-color: #FAFAFA;
            span{
                margin-right: .5rem;
                color: #A5A7AA;
            }
            input{
                border: none;
                outline: none;
                font-size: 1rem;
                width: 250px;
                background-color: #FAFAFA;
            }
        }
    }
    #navButtons{
        a, span{
            color: $text-primary-color;
            padding: 0 .5rem;
            img{
                width: 24px;
            }
        }
    }
}

#main-feeds{
    margin-top: 1rem;
    .container{
        display: grid;
        gap: 1rem;
        grid-template-columns: minmax(500px, 2fr) 1fr;
    }
    #sidePanel{
        position: fixed;
        align-self: right;
        justify-self: end;
        width: fit-content;
        height: fit-content;
        padding: 1rem 1rem;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        p{
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
        ul{
            list-style: none;
            i{
                margin-right: 1rem;
            }
            a{
                display: block;
                padding: .5rem .5rem;
                color: $text-primary-color;
                &:hover{
                    background-color: $border-color;
                }
            }
        }
        footer{
            p{
                font-size: .7rem;
            }
            color: #A5A7AA;
        }
    }
}

.post-card{
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    .card-body{
        h3{
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        .date{
            font-size: .9rem;
            color: #a2a2a2;
            display: block;
            margin-bottom: 1rem;
        }
        .link{
            display: block;
            width: 150px;
            text-decoration: none;
            color: $primary-color;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .card-footer{
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid $border-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .save{
            font-size: 1.3rem;
            cursor: pointer;
            &:hover{
                color: #ED4956;
            }
        }
        p{
            color: #ED4956;
        }
    }
}