#main-subjects{
    margin-top: 1rem;
    #subjects-grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

.subject-card{
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    .subject-title{
        font-size: 1.5rem;
        color: $hot-color-1;
        &:hover {
            background-color: $pc-3;
        }
        &:active {
            color: $pc-3;
            background-color: $hot-color-1;
        }
    }
    .teacher{
        color: $hot-color-2;
    }
    .course-count-subject{
        display: flex;
        align-items: center;
        span{
            font-size: 3rem;
            font-weight: bold;
            margin-right: 1rem;
        }
    }
}