#course-feeds{
    .container{
        .subject-name{
            margin: 1rem 0;
            width: 100%;
            padding: .5rem 1rem;
            background-color: $pc-3;
            color: $hot-color-1;
        }
    }
}