@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F5F5F5;
}

.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: .3rem .7rem;
}

#main-header-public {
  padding: 0.1rem 0;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-header-public #brand {
  font-size: 1rem;
  padding: .3rem .7rem;
  color: #F5F5F5;
  background-color: #1d2129;
  border-radius: 0.2rem;
}

#main-header-public .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header-public #search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #303841;
}

#main-header-public #search label span {
  margin-left: 0.5rem;
}

#main-header-public #search label input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 250px;
  background-color: #fff;
}

#main-header-public .login-Button {
  background-color: #fff;
  color: #1d2129;
  border: 1px solid #1d2129;
}

#main-header-public .login-Button:hover {
  background-color: #1d2129;
  color: #fff;
}

#main-header-public .register-Button {
  background-color: #1d2129;
  color: #fff;
  border: 1px solid #1d2129;
}

#main-header-public .register-Button:hover {
  color: #1d2129;
  background-color: #fff;
  border: 1px solid #1d2129;
}

#main-header-public .register-Button:hover .login-Button {
  background-color: red;
  color: yellow;
}

#main-feeds {
  margin-top: 1rem;
}

#main-feeds .container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 200px minmax(500px, 2fr);
      grid-template-columns: 200px minmax(500px, 2fr);
}

#main-feeds #sidePanel {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F5F5F5;
}

#main-feeds #sidePanel #main-side-links {
  list-style: none;
}

#main-feeds #sidePanel #main-side-links li a {
  font-size: .8rem;
  display: block;
  color: #1d2129;
}

#main-feeds #sidePanel #main-side-links li a:hover {
  background-color: #D6E6F2;
}

#main-feeds #sidePanel #main-side-links li a span {
  margin-left: 1rem;
}

#main-feeds #sidePanel #social-links {
  text-align: left;
  margin-top: 3rem;
}

#main-feeds #sidePanel #social-links a {
  display: inline-block;
  padding: 0;
}

#main-feeds #sidePanel #social-links i {
  font-size: 1rem;
  color: #303841;
  padding: .4rem;
  border-radius: 0.2rem;
}

#main-feeds #sidePanel #social-links i:hover {
  color: #1877f2;
  background-color: #D6E6F2;
}

.post-card {
  margin-bottom: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

.post-card .card-body h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.post-card .card-body .date {
  font-size: 0.9rem;
  color: #a2a2a2;
  display: block;
  margin-bottom: 1rem;
}

.post-card .card-body p {
  margin-bottom: 1rem;
}

.post-card .card-body .link {
  display: block;
  width: 80%;
  text-decoration: none;
  white-space: nowrap;
  color: #1d2129;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card .card-body .link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1877f2;
}

.post-card .card-footer {
  margin-top: 1rem;
  padding-top: .5rem;
  border-top: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-card .card-footer .save {
  padding: .2rem .5rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.post-card .card-footer a {
  border-radius: 0.2rem;
  text-decoration: none;
  color: #1877f2;
}

.post-card .card-footer .save:hover, .post-card .card-footer a:hover {
  color: #1877f2;
  background-color: #D6E6F2;
}

.post-card .card-footer .save:active, .post-card .card-footer a:active {
  color: #D6E6F2;
  background-color: #1877f2;
}

footer {
  font-size: .8rem;
  margin-top: 3rem;
  color: #1d2129;
}

footer a {
  font-size: .8rem;
  color: #1877f2;
}

footer a:hover {
  background-color: #D6E6F2;
}

footer a:active {
  color: #D6E6F2;
  background-color: #1877f2;
}

#main-subjects {
  margin-top: 1rem;
}

#main-subjects #subjects-grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.subject-card {
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

.subject-card .subject-title {
  font-size: 1.5rem;
  color: #1877f2;
}

.subject-card .subject-title:hover {
  background-color: #D6E6F2;
}

.subject-card .subject-title:active {
  color: #D6E6F2;
  background-color: #1877f2;
}

.subject-card .teacher {
  color: #ed4956;
}

.subject-card .course-count-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subject-card .course-count-subject span {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 1rem;
}

#course-feeds .container .subject-name {
  margin: 1rem 0;
  width: 100%;
  padding: .5rem 1rem;
  background-color: #D6E6F2;
  color: #1877f2;
}

#description-section-layout {
  line-height: 2;
  margin-top: 1rem;
}

#description-section-layout section {
  padding: 1rem 2rem;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
}

#description-section-layout section h2 {
  font-size: 2rem;
}

#description-section-layout section a {
  font-size: 1rem;
  color: #1877f2;
}

#description-section-layout section a:hover {
  background-color: #D6E6F2;
}

#description-section-layout section a:active {
  color: #D6E6F2;
  background-color: #1877f2;
}

#description-section-layout section h3 {
  margin-top: 3rem;
}

#description-section-layout {
  position: relative;
}

#description-section-layout h1 {
  font-size: 4rem;
}

#description-section-layout img {
  width: 300px;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
}

#description-section-layout section {
  padding-bottom: 10rem;
}
/*# sourceMappingURL=index.css.map */