<nav id="main-header-public">
    <div class="container">
        <a href="/">
            <h1 id="brand">MDSB</h1>
        </a>
        <div id="search">
            <label>
                <input type="text" placeholder="Search" id="searchBox">
                <span class="material-icons-outlined">search</span>
            </label>
        </div>
        <div class="login-signup-buttons">
            <a href="/login" class="login-Button">login</a>
            <a href="/signup" class="register-Button">Register</a>
            <!-- end of nav -->
        </div>
        <!-- end of container -->
    </div>
</nav>