<nav id="main-header">
    <div class="container">
        <a href="/home">
            <h1 id="brand">MDSB.TN</h1>
        </a>
        <div id="search">
            <label>
                <span class="material-icons-outlined">search</span>
                <input type="text" placeholder="Search" id="searchBox">
            </label>
        </div>
        <div id="navButtons">
            <a href="/home">
                <img src="https://img.icons8.com/fluency-systems-regular/50/000000/home.png"/>
            </a>
            <a href="/home/subjects">
                <img src="https://img.icons8.com/fluency-systems-regular/48/000000/documents.png"/>
            </a>
            <a href="/home/announcements">
                <img src="https://img.icons8.com/fluency-systems-regular/50/000000/commercial.png"/>
            </a>
            <span id="profile-trigger">
                <img src="https://img.icons8.com/fluency-systems-regular/96/000000/user.png"/>
            </span>
            <!-- end of nav -->
        </div>
        <!-- end of container -->
    </div>
</nav>